<% provide :title do %>
 <%= t("admin.header.title") %> - <%= t("admin.menu.parbudget_maintance") %> - <%= t("admin.menu.parbudget_tabs.projects") %> - <%= @project.denomination %>
<% end %>

<div class="parbudget-project-edit">
  <%= back_link_to admin_parbudget_projects_path, t("admin.sures.actuations.new.back") %>

  <h2><%= @project.denomination %></h2>

  <%= render "form" %>
</div>