<% provide :title do %>
 <%= t("admin.header.title") %> - <%= t("admin.menu.parbudget_maintance") %> - <%= t("admin.menu.parbudget_tabs.projects") %> - <%= @project.denomination %>
<% end %>

<div class="parbudget-project-show">
  <%= back_link_to admin_parbudget_projects_path, t("admin.sures.actuations.new.back") %>

 
    <div class="small-12 column">
        <h2><%= @project.denomination %></h2>
        <div class="float-right">
            <%= link_to t('admin.parbudget.project.pdf_download'), current_path_with_query_params(id: @project.id, format: :pdf), class: "button" %>
        </div>
    </div>

 
  <div class="small-12 column">
    <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
      <legend><%=t("admin.parbudget.project.title_data")%></legend>
  
      <div class="small-12 medium-2  column end"  >
        <p><b><%=@model.human_attribute_name(:year)%></b></p>
        <p><%= @project.try(:year) %></p>
      </div>
      <div class="small-12 medium-4  column end"  >
        <p><b><%=@model.human_attribute_name(:code)%></b></p>
        <p><%= @project.try(:code) %></p>
      </div>
      <div class="small-12 medium-3  column end"  >
        <p><b><%=@model.human_attribute_name(:ambit)%></b></p>
        <p><%= @project.try(:ambit) %></p>
      </div>
      <div class="small-12 medium-3  column end"  >
        <p><b><%=@model.human_attribute_name(:status)%></b></p>
        <p><%= @project.try(:status) %></p>
      </div>
      <div class="small-12 column end">
        <p><b><%=@model.human_attribute_name(:web_title)%></b></p>
        <p><%= @project.try(:web_title) %></p>
      </div>
      <div class="ckeditor small-12 column">
        <p><b><%=@model.human_attribute_name(:descriptive_memory)%></b></p>
        <p><%= @project.try(:descriptive_memory).html_safe %></p>
      </div>
      <div class="small-12 medium-2 column end">
        <p><b><%=@model.human_attribute_name(:votes)%></b></p>
        <p><%= @project.try(:votes) %></p>
      </div>
      <div class="small-12 medium-3 column end">
        <p><b><%=@model.human_attribute_name(:cost)%></b></p>
        <p><%= @project.try(:cost) %></p>
      </div>
      <div class="small-12 medium-4 column end">
        <p><b><%=@model.human_attribute_name(:url)%></b></p>
        <p><%= @project.try(:url) %></p>
      </div>
      <div class="small-12 medium-3 column end">
        <p><b><%=@model.human_attribute_name(:code_old)%></b></p>
        <p><%= @project.try(:code_old) %></p>
      </div>
      <div class="small-12 column end">
        <p><b><%=@model.human_attribute_name(:denomination)%></b></p>
        <p><%= @project.try(:denomination) %></p>
      </div>
      <div class="small-12 medium-4  column end"  >
        <p><b><%=@model.human_attribute_name(:topic)%></b></p>
        <p><%= @project.try(:topic) %></p>
      </div>
      <div class="small-12 medium-4  column end"  >
        <p><b><%=@model.human_attribute_name(:responsible)%></b></p>
        <p><%= @project.try(:responsible) %></p>
      </div>
    </fieldset>

    <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
      <legend><%=t("admin.parbudget.project.title_data_center")%></legend>
      <%@project.parbudget_centers.each do |center|%>
        <div class='small-12 column'>
          <fieldset  style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
            <div  class='small-12 medium-6 column'>
              <p><b><%=center.class.human_attribute_name(:government_area)%></b></p>
              <p><%=center.try(:government_area)%></p>
            </div>
            <div  class='small-12 medium-6 column'>
              <p><b><%=center.class.human_attribute_name(:general_direction)%></b></p>
              <p><%=center.try(:general_direction)%></p>
            </div>
            <div  class='small-12 medium-6 column'>
              <p><b><%=center.class.human_attribute_name(:denomination)%></b></p>
              <p><%=center.try(:denomination)%></p>
            </div>
            <div  class='small-12 medium-6 column'>
              <p><b><%=center.class.human_attribute_name(:responsible)%></b></p>
              <p><%=center.try(:responsible)%></p>
            </div>
            <div  class='small-12 medium-4 column'>
              <p><b><%=center.class.human_attribute_name(:code)%></b></p>
              <p><%=center.try(:code)%></p>
            </div>
            <div  class='small-12 medium-4 column'>
              <p><b><%=center.class.human_attribute_name(:code_section)%></b></p>
              <p><%=center.try(:code_section)%></p>
            </div>
            <div  class='small-12 medium-4 column'>
              <p><b><%=center.class.human_attribute_name(:code_program)%></b></p>
              <p><%=center.try(:code_program)%></p>
            </div>
          </fieldset>
        </div>
      <%end%>
    </fieldset>

    <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
      <legend><%=t("admin.parbudget.project.title_data_author")%></legend>
      <div class="small-12 medium-6  column end"  >
        <p><b><%=@model.human_attribute_name(:author)%></b></p>
        <p><%= @project.try(:author) %></p>
      </div>
      <div class="small-12 medium-6  column end"  >
        <p><b><%=@model.human_attribute_name(:entity)%></b></p>
        <p><%= @project.try(:entity) %></p>
      </div>   
      <div class="small-12 medium-6 column end">
        <p><b><%=@model.human_attribute_name(:email)%></b></p>
        <p><%= @project.try(:email) %></p>
      </div>
      <div class="small-12 medium-6 column end">
        <p><b><%=@model.human_attribute_name(:phone)%></b></p>
        <p><%= @project.try(:phone) %></p>
      </div>
      <div class="small-12 medium-4 column end">
        <p><b><%=@model.human_attribute_name(:plate_proceeds)%></b></p>
        <p><%= t(@project.try(:plate_proceeds).to_s) %></p>
      </div>
      <div class="small-12 medium-4 column end">
        <p><b><%=@model.human_attribute_name(:license_plate)%></b></p>
        <p><%= t(@project.try(:license_plate).to_s) %></p>
      </div>
      <div class="small-12 medium-4 column end">
        <p><b><%=@model.human_attribute_name(:plate_installed)%></b></p>
        <p><%= t(@project.try(:plate_installed).to_s) %></p>
      </div>    
    </fieldset>

    <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
      <legend><%=t("admin.parbudget.project.title_data_economic")%></legend>
      <%@project.parbudget_economic_budgets.each do |economic|%>
        <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
          <legend><%=t("admin.parbudget.project.subtitle_economic", i: "")%></legend>
          <div class="small-12 medium-2  column end"  >
            <p><b><%=economic.class.human_attribute_name(:year)%></b></p>
            <p><%= economic.try(:year) %></p>
          </div>
          <div class="small-12 medium-4  column end"  >
            <p><b><%=economic.class.human_attribute_name(:import)%></b></p>
            <p><%= economic.try(:import) %></p>
          </div>
          <div class="small-12 medium-3  column end"  >
            <p><b><%=economic.class.human_attribute_name(:start_date)%></b></p>
            <p><%= economic.try(:start_date) %></p>
          </div>
          <div class="small-12 medium-3  column end"  >
            <p><b><%=economic.class.human_attribute_name(:end_date)%></b></p>
            <p><%= economic.try(:end_date) %></p>
          </div>
          <div class="small-12 medium-3  column end"  >
            <p><b><%=economic.class.human_attribute_name(:count_managing_body)%></b></p>
            <p><%= economic.try(:count_managing_body) %></p>
          </div>
          <div class="small-12 medium-3 column end"  >
            <p><b><%=economic.class.human_attribute_name(:count_functional)%></b></p>
            <p><%= economic.try(:count_functional) %></p>
          </div>
          <div class="small-12 medium-3  column end"  >
            <p><b><%=economic.class.human_attribute_name(:economic)%></b></p>
            <p><%= economic.try(:economic) %></p>
          </div>
          <div class="small-12 medium-3  column end"  >
            <p><b><%=economic.class.human_attribute_name(:element_pep)%></b></p>
            <p><%= economic.try(:element_pep) %></p>
          </div>
          <div class="small-12 medium-4  column end"  >
            <p><b><%=economic.class.human_attribute_name(:financing)%></b></p>
            <p><%= economic.try(:financing) %></p>
          </div>
          <div class="small-12 medium-4  column end"  >
            <p><b><%=economic.class.human_attribute_name(:type_contract)%></b></p>
            <p><%= economic.try(:type_contract) %></p>
          </div>
        </fieldset>
      <%end%>
    </fieldset>

    <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
      <legend><%=t("admin.parbudget.project.title_data_media")%></legend>
      <% @project.parbudget_medias do |media| %>
        <div class="small-12 medium-6  column end"  >
          <p><b><%=media.class.human_attribute_name(:title)%></b></p>
          <p><%= media.try(:title) %></p>
        </div>
        <div class="small-12 medium-6  column end"  >
          <p><b><%=media.class.human_attribute_name(:text_document)%></b></p>
          <p><%= media.try(:text_document) %></p>
        </div>
        <div class="small-12 medium-12  column end"  >
            <%#= f.file_field :attachment %>
        </div>
      <%end%>
    </fieldset>

    <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
      <legend><%=t("admin.parbudget.project.title_data_link")%></legend>
      <% @project.parbudget_links.each do |link| %>
        <div class="small-12 column end">
          <p><%= link_to link.url, link.url, target: "_blank" %></p>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>