<fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
    <legend><%=t("admin.complan.thecnical_table.title_data")%></legend>
 
    <div class="small-12 medium-4 column end"  >
        <%= f.text_field :date_at %>
    </div>
    <div class="small-12 medium-4  column end"  >
        <%= f.text_field :name%>
    </div>
    <div class="small-12 medium-4  column end"  >
        <%= f.text_field :description%>
    </div>
    <div class="small-12 medium-4  column end"  >
        <%= f.text_field :year%>
    </div>
    <div class="small-12 medium-4  column end"  >
        <%= f.text_field :type%>
    </div>
    <div class="small-12 medium-4  column end"  >
        <%= f.text_field :date_agreement%>
    </div>
    <div class="small-12 medium-4  column end"  >
        <%= f.text_field :sesion%>
    </div>
 </fieldset>