<%= form_tag({controller: "thecnical_tables",action: "index"}, {method: :get}) do %>
    <div class="small-12 column">
        <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
            <legend><%=t("admin.menu.complan_tabs.legend_filter")%></legend>
            <div class="small-12 medium-6 column">
                <%=label_tag :search_description, t('admin.complan.thecnical_table.search_description')%>
                <%= text_field_tag :search_description, params[:search_description] %>
            </div>  
            <div class="small-12 medium-3 column">
                <%=label_tag :search_name, t('admin.complan.thecnical_table.search_name')%>
                <%= text_field_tag :search_name, params[:search_name] %>
            </div>  
            <% if params[:subnav].blank? || params[:subnav].to_s == "all" %>            
                <div class="small-12 medium-3 column end">
                    <%=label_tag :search_type, t('admin.complan.thecnical_table.search_type')%>
                    <%= text_field_tag :search_type, params[:search_type] %>
                </div>  
            <%end%>        
            <div class="small-12 medium-3 column">
                <%=label_tag :search_start_date, t('admin.complan.thecnical_table.search_start_date')%>
                <%= date_field_tag :search_start_date, params[:search_start_date] %>
            </div>
            <div class="small-12 medium-3 column">
                <%=label_tag :search_end_date, t('admin.complan.thecnical_table.search_end_date')%>
                <%= date_field_tag :search_end_date, params[:search_end_date] %>
            </div>  
            <div class="small-12 medium-3 column">
                <%=label_tag :search_concert_start_date, t('admin.complan.thecnical_table.search_concert_start_date')%>
                <%= date_field_tag :search_concert_start_date, params[:search_concert_start_date] %>
            </div>
            <div class="small-12 medium-3 column">
                <%=label_tag :search_concert_end_date, t('admin.complan.thecnical_table.search_concert_end_date')%>
                <%= date_field_tag :search_concert_end_date, params[:search_concert_end_date] %>
            </div> 
            <div class="small-12 medium-3 column">
                <%=label_tag :search_year_start, t('admin.complan.thecnical_table.search_year_start')%>
                <%= date_field_tag :search_year_start, params[:search_year_start] %>
            </div>
            <div class="small-12 medium-3 column end">
                <%=label_tag :search_year_end, t('admin.complan.thecnical_table.search_year_end')%>
                <%= date_field_tag :search_year_end, params[:search_year_end] %>
            </div>
            <div class="float-right clear">
                <%= link_to t("admin.menu.complan_tabs.button_clean"), admin_complan_thecnical_tables_path, class: "button secondary" %>
                <%= submit_tag t("admin.menu.complan_tabs.button_find"), class: "button" %>
            </div>
        </fieldset>
    </div>
<% end%>
