
<%= form_for [:admin, @thecnical_table], html: {data: {watch_changes: true, multipart: true}} do |f| %>

  <% if @thecnical_table.errors.any? %>
    <div id="error_explanation" data-alert class="callout alert" data-closable>
      <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>

      <strong>
        <%= @thecnical_table.errors.count %>
        <%= t("admin.sures.actuations.errors.form.error", count: @thecnical_table.errors.count) %>
      </strong>
    </div>
  <% end %>

  <%=render "data_thecnical_table", f: f%>
  <%#=render "data_assistants", f: f%>
  
  <div class="small-12 medium-3 column clear end">
    <%= f.submit(class: "button success expanded", value: t("admin.complan.#{admin_submit_action(@thecnical_table)}.submit_button")) %>
  </div> 

<% end %>