<% provide :title do %>
 <%= t("admin.header.title") %> - <%= t("admin.menu.parbudget_maintance") %> - <%= t("admin.menu.parbudget_tabs.thecnical_tables") %> - <%= @thecnical_table.denomination %>
<% end %>

<div class="parbudget-thecnical_table-edit">
  <%= back_link_to admin_parbudget_thecnical_tables_path, t("admin.sures.actuations.new.back") %>

  <h2><%= @thecnical_table.denomination %></h2>

  <%= render "form" %>
</div>