<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.complan_maintance") %> - <%= t("admin.menu.complan_tabs.thecnical_tables") %> - <%= t("admin.complan.thecnical_table.title_new") %>
<% end %>

<div class="complan-thecnical_table-new">
  <%= back_link_to admin_complan_thecnical_tables_path, t("admin.sures.actuations.new.back") %>

  <h2><%= t("admin.complan.thecnical_table.title_new") %></h2>

  <%= render "form" %>
</div>