
<%= form_for [:admin, @responsible], html: {data: {watch_changes: true}} do |f| %>

  <% if @responsible.errors.any? %>
    <div id="error_explanation" data-alert class="callout alert" data-closable>
      <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>

      <strong>
        <%= @responsible.errors.count %>
        <%= t("admin.sures.actuations.errors.form.error", count: @responsible.errors.count) %>
      </strong>
    </div>
  <% end %>
  <div class="small-12 column">
    <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
      <legend><%=t('admin.parbudget.responsible.title_data')%></legend>
      <div class="row">
        <div class="small-12 medium-6  column end"  >
          <%= f.text_field :full_name %>
        </div>
        <div class="small-12 medium-3  column end"  >
          <%= f.text_field :email %>
        </div>
        <div class="small-12 medium-3  column end"  >
          <%= f.text_field :phone %>
        </div>
        
      </div>
      <div class="row">
        <div class="small-12 medium-6  column end"  >
          <%= f.text_field :position %>
        </div>
        <div class="small-12 medium-3 column end">
          <%= f.select :parbudget_center, options_for_select(@centers || [], @responsible[:parbudget_center]) %>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="small-12 medium-3 column clear end">
    <%= f.submit(class: "button success expanded", value: t("admin.parbudget.#{admin_submit_action(@responsible)}.submit_button")) %>
  </div> 
<% end %>