<%= render partial: "admin/parbudget/tabs"%>
<%= render partial: "admin/parbudget/buttons", locals: {path: new_admin_parbudget_responsible_path, button_title: t("admin.menu.parbudget_tabs.new_responsibles")}%>
<%= render partial: "admin/parbudget/subnav"%>
<%= render partial: "filters"%>

<div class="small-12 column">
  <% if @responsibles.any? %>
    <h3><%= page_entries_info @responsibles %></h3>

    <table class="stack">
      <thead>
        <tr>
          <%@model.get_columns.each do |c|%>
            <th><%= @model.human_attribute_name(c) %></th>
          <%end%>
          <th><%= t("admin.actions.actions") %></th>
        </tr>
      </thead>

      <tbody>
        <% @responsibles.each do |responsible| %>
            <tr id="<%= dom_id(responsible) %>">
              <%@model.get_columns.each do |c|%>
                <td><%=responsible.try(c)%></td>
              <%end%>
              <td>
                <%= link_to admin_parbudget_responsibles_path, class: "button hollow", title: t('admin.parbudget.show_audits'), alt: t('admin.parbudget.show_audits')  do %>
                  <span class="icon-settings"></span>
                <%end%>
                <%= link_to admin_parbudget_responsible_path(responsible, format: :pdf), class: "button", title: t('admin.parbudget.responsible.pdf_download'), alt: t('admin.parbudget.responsible.pdf_download')  do %>
                  <span class="icon-document"></span>
                <%end%>
                <%= link_to admin_parbudget_responsible_path(responsible), class: "button", title: t('admin.parbudget.responsible.show_responsible'), alt: t('admin.parbudget.responsible.show_responsible')  do %>
                  <span class="icon-eye"></span>
                <%end%>
                <%= link_to edit_admin_parbudget_responsible_path(responsible), class: "button", title: t('admin.parbudget.responsible.title_update'), alt: t('admin.parbudget.responsible.title_update')  do %>
                  <span class="icon-edit"></span>
                <%end%>
                <%= link_to  admin_parbudget_responsible_path(responsible),method: :delete, class: "button hollow alert", title: t('admin.parbudget.responsible.title_delete'), alt: t('admin.parbudget.responsible.title_delete'), data: {confirm: t('admin.parbudget.responsible.destroy_confirm')}  do %>
                  <span class="icon-deleted"></span>
                <%end%>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @responsibles %>
  <% else %>
    <div class="callout primary"><%= page_entries_info @responsibles %></div>
  <% end %>
</div>