
    <div class="small-12 column">
        <h2><%= @responsible.full_name %></h2>
    </div>


    <div class="small-12 column">
        <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
            <legend>Datos del responsable</legend>
            <div class="row">
                <div class="small-12 medium-6  column end"  >
                    <p><b><%=@model.human_attribute_name(:full_name)%></b></p>
                    <p><%= @responsible.try(:full_name) %></p>
                </div>
                <div class="small-12 medium-3  column end"  >
                    <p><b><%=@model.human_attribute_name(:email)%></b></p>
                    <p><%=  @responsible.try(:email) %></p>
                </div>
                <div class="small-12 medium-3  column end"  >
                    <p><b><%=@model.human_attribute_name(:phone)%></b></p>
                    <p><%=  @responsible.try(:phone) %></p>
                </div>
                
            </div>
            <div class="row">
                <div class="small-12 medium-6  column end"  >
                    <p><b><%=@model.human_attribute_name(:position)%></b></p>
                    <p><%=  @responsible.try(:position) %></p>
                </div>
                <div class="small-12 medium-6 column end">
                    <p><b><%=@model.human_attribute_name(:parbudget_center)%></b>
                    <p><%=  @responsible.try(:parbudget_center).try(:denomination) %></b>
                </div>
            </div>
        </fieldset>
    </div>
