<% provide :title do %>
 <%= t("admin.header.title") %> - <%= t("admin.menu.parbudget_maintance") %> - <%= t("admin.menu.parbudget_tabs.meetings") %> - <%= "#{@meeting.who_requests} - #{@meeting.date_at_convert}" %>
<% end %>

<div class="parbudget-meeting-edit">
  <%= back_link_to admin_parbudget_meetings_path, t("admin.sures.actuations.new.back") %>

  <h2><%= "#{@meeting.who_requests} - #{@meeting.date_at_convert}"%></h2>

  <%= render "form" %>
</div>