<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.parbudget_maintance") %> - <%= t("admin.menu.parbudget_tabs.meetings") %> - <%= t("admin.parbudget.meeting.title_new") %>
<% end %>

<div class="parbudget-meeting-new">
  <%= back_link_to admin_parbudget_meetings_path, t("admin.sures.actuations.new.back") %>

  <h2><%= t("admin.parbudget.meeting.title_new") %></h2>

  <%= render "form" %>
</div>