<% provide :title do %>
 <%= t("admin.header.title") %> - <%= t("admin.menu.parbudget_maintance") %> - <%= t("admin.menu.parbudget_tabs.meetings") %> - <%= "#{@meeting.who_requests} - #{@meeting.date_at_convert}"%>
<% end %>

<div class="parbudget-meeting-show">
  <%= back_link_to admin_parbudget_meetings_path, t("admin.sures.actuations.new.back") %>

 
    <div class="small-12 column">
        <h2><%= "#{@meeting.who_requests} - #{@meeting.date_at_convert}"%></h2>
        <div class="float-right">
            <%= link_to t('admin.parbudget.meeting.pdf_download'), current_path_with_query_params(id: @meeting.id, format: :pdf), class: "button" %>
        </div>
    </div>

 
   <div class="small-12 column">
        <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
            <legend><%=t('admin.parbudget.meeting.title_data')%></legend>
            <div class="row">
                <div class="small-12 medium-3 column end">
                    <p><b><%=@model.human_attribute_name(:date_at_convert)%></b></p>
                    <p><%= @meeting.try(:date_at_convert) %></p>
                </div>
                <div class="small-12 medium-9 column end">
                    <p><b><%=@model.human_attribute_name(:who_requests)%></b></p>
                    <p><%= @meeting.try(:who_requests) %></p>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-12  column end">
                    <p><b><%=@model.human_attribute_name(:reason)%></b></p>
                    <p><%=@meeting.try(:reason).to_s.html_safe%></p>
                </div>
            </div>
        </fieldset>
        <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
            <legend><%=t('admin.parbudget.meeting.title_data_assistant')%></legend>
            <div class="small-12 medium-12 column end"><%=  @meeting.try(:assistants)%></div>
        </fieldset>
    </div>
  </div>
</div>