<li class="section-title">
    <a href="#">
        <span class="icon-eye"></span>
        <strong><%= t("admin.menu.title_moderated_content") %></strong>
    </a>
    <ul <%= "class=is-active" if menu_moderated_content? %>>
        <li <%= "class=is-active" if moderated_texts_section? %>>
        <%= link_to t("admin.menu.moderated_texts"), admin_moderated_texts_path %>
        </li>

        <li <%= "class=is-active" if controller_name == "auto_moderated_content" %>>
        <%= link_to t("admin.menu.auto_moderated_content"), admin_auto_moderated_content_index_path %>
        </li>

        <% if feature?(:proposals) %>
        <li <%= "class=is-active" if controller_name == "hidden_proposals" %>>
            <%= link_to t("admin.menu.hidden_proposals"), admin_hidden_proposals_path %>
        </li>
        <% end %>

        <% if feature?(:debates) %>
        <li <%= "class=is-active" if controller_name == "debates" %>>
            <%= link_to t("admin.menu.hidden_debates"), admin_debates_path %>
        </li>
        <% end %>

        <% if feature?(:budgets) %>
        <li <%= "class=is-active" if controller_name == "hidden_budget_investments" %>>
            <%= link_to t("admin.menu.hidden_budget_investments"), admin_hidden_budget_investments_path %>
        </li>
        <% end %>

        <li <%= "class=is-active" if controller_name == "topics" %>>
        <%= link_to t("admin.menu.hidden_topics"), admin_topics_path %>
        </li>

        <li <%= "class=is-active" if controller_name == "comments" %>>
        <%= link_to t("admin.menu.hidden_comments"), admin_comments_path %>
        </li>

        <li <%= "class=is-active" if controller_name == "proposal_notifications" %>>
        <%= link_to t("admin.menu.hidden_proposal_notifications"), admin_proposal_notifications_path %>
        </li>

        <li <%= "class=is-active" if controller_name == "hidden_users" %>>
        <%= link_to t("admin.menu.hidden_users"), admin_hidden_users_path %>
        </li>

        <li <%= "class=is-active" if controller_name == "activity" %>>
        <%= link_to t("admin.menu.activity"), admin_activity_path %>
        </li>
    </ul>
</li>