<li class="section-title">
    <a href="#">
        <span class="icon-settings"></span>
        <strong><%= t("admin.menu.title_settings") %></strong>
    </a>
    <ul <%="class=is-active" if menu_settings? %>>
        <li <%= "class=is-active" if controller_name == "settings" %>>
        <%= link_to t("admin.menu.settings"), admin_settings_path %>
        </li>

        <li <%= "class=is-active" if controller_name == "tags" %>>
        <%= link_to t("admin.menu.proposals_topics"), admin_tags_path %>
        </li>

        <li <%= "class=is-active" if controller_name == "geozones" %>>
        <%= link_to t("admin.menu.geozones"), admin_geozones_path %>
        </li>

        <li <%= "class=is-active" if controller_name == "images" &&
                                controller.class.parent != Admin::Poll::Questions::Answers %>>
        <%= link_to t("admin.menu.site_customization.images"), admin_site_customization_images_path %>
        </li>

        <li <%= "class=is-active" if controller_name == "content_blocks" %>>
        <%= link_to t("admin.menu.site_customization.content_blocks"), admin_site_customization_content_blocks_path%>
        </li>

    </ul>
</li>