  <% if @strategies.any? %>
    <h3><%= page_entries_info @strategies %></h3>

    <table class="stack sortable">
      <thead>
        <tr>
          <%@model.get_columns.each do |c|%>
            <th><%=link_to_complan_sorted_by c, @model.human_attribute_name(c) %></th>
          <%end%>
          <th style="width: 12em"><%= t("admin.actions.actions") %></th>
        </tr>
      </thead>

      <tbody>
        <% @strategies.each do |strategy| %>
          <%= form_for strategy, :url => update_strategy_admin_complan_strategy_path(strategy), method: :post do |f| %>
            <tr id="<%= dom_id(strategy) %>">
              <% if !params[:errors].blank? && strategy.id.to_i == params[:id].to_i %>
                <div id="error_explanation" data-alert class="callout alert" data-closable>
                  <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>
                      <% params[:errors].each do |error| %>
                        <%=error%><br>
                      <%end%>
                  </strong>
                </div>
              <% end %>
              <%@model.get_columns.each do |c|%>
                <% if c.to_s == "approbal_date"%>
                  <td><%= f.date_field c, label: false, placeholder:  "#{@model.human_attribute_name(c)}..."  %></td>
                <%else%>
                  <td><%= f.text_field c, label: false, placeholder:  "#{@model.human_attribute_name(c)}..."  %></td>
                <%end%>
              <%end%>
              <td style="width: 12em">
                <%= link_to admin_complan_strategies_path, class: "button hollow", style: "margin: 0px", title: t('admin.complan.show_audits'), alt: t('admin.complan.show_audits')  do %>
                  <span class="icon-settings"></span>
                <%end%>
                <%= f.button :submit, class: "button", title: t('admin.complan.strategy.update_strategy'), alt: t('admin.complan.strategy.update_strategy'), style: "margin: 0px"  do %>
                  <span class="icon-edit"></span>
                <%end%>
                <%= link_to  admin_complan_strategy_path(strategy),method: :delete, class: "button hollow alert", style: "margin: 0px", title:  t('admin.complan.strategy.title_delete'), alt:  t('admin.complan.strategy.title_delete'), data: {confirm: t('admin.complan.strategy.destroy_confirm')}  do %>
                  <span class="icon-deleted"></span>
                <%end%>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @strategies %>
  <% else %>
    <div class="callout primary"><%= page_entries_info @strategies %></div>
  <% end %>