<div id="csc-container">
    <div class="row" >
        <div class="small-12 column">   
            <p><%=link_to t("csc.members.back"), "/organos/consejosocial" , title:t("csc.members.back"), alt: t("csc.members.back") %></p>
        </div>
    </div>
    <div class="row" >
        <div id="title" class="small-12 column">   
            <h2><span class="title"><%=t("csc.members.title")%></span></h2>
        </div>
    </div>
    
    <div class="row desc">
        <div class="small-12 medium-12 column" style="text-align: justify">
            <h3><%=t("csc.members.title_1").html_safe%></h3>
            <%=t("csc.members.description_1").html_safe%>
        </div>
    </div>
    <div class="row desc">
        <div class="small-12 medium-12 column" style="text-align: justify">
            <h3><%=t("csc.members.title_2").html_safe%></h3>
            <%=t("csc.members.description_2").html_safe%>
        </div>
    </div>
    <div class="row desc">
        <div class="small-12 medium-12 column" style="text-align: justify">
            <h3><%=t("csc.members.title_3").html_safe%></h3>
            <%=t("csc.members.description_3").html_safe%>
        </div>
    </div>
    <div class="row desc">
        <div class="small-12 medium-12 column" style="text-align: justify">
            <h3><%=t("csc.members.title_4").html_safe%></h3>
            <%=t("csc.members.description_4").html_safe%>
        </div>
    </div>
   
</div>