<div class="admin-sidebar" data-equalizer-watch>
  <ul id="admin_menu" data-accordion-menu data-multi-open="false">
    
    
      <%if can? :index, Proposal %>
        <%= render "admin/shared/menu_items/proposals" %>
      <%end%>
      <%= render "admin/shared/menu_items/polls" %>
      <%= render "admin/shared/menu_items/legislation" %>
      <%= render "admin/shared/menu_items/sures" %>
      <%= render "admin/shared/menu_items/budgets" %>
      <%= render "admin/shared/menu_items/title_booths" %>
      <%= render "admin/shared/menu_items/signature_sheets" %>
      <%= render "admin/shared/menu_items/message_users" %>
      <%= render "admin/shared/menu_items/site_customization" %>
      <%= render "admin/shared/menu_items/moderated_content" %>
      <%= render "admin/shared/menu_items/profiles" %>
      <%= render "admin/shared/menu_items/stats" %>
      <%= render "admin/shared/menu_items/settings" %>
      <%= render "admin/shared/menu_items/complan" %>
      <%= render "admin/shared/menu_items/parbudget" %>
  </ul>
</div>
