<%= render "layouts/flash" %>
<div class="row">
    <div class="small-12 column">
        <%if !@sg_generic.try(:sg_table_fields).blank?%>
            <table>
                <thead>
                    <tr>
                        <%get_header_tables_fields.each do |header|%>
                            <th><%=header%></th>
                        <%end%>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <%@sg_generic.try(:sg_table_fields).each do |tf|%>
                        <tr>
                            <td><%=tf.table_name%></td>
                            <td><%=tf.field_name%></td>
                            <td><%= link_to t('admin.sg.list.delete'),  delete_generic_admin_sg_path(tf.id, type: @type), class: "button alert",remote: true, data: {confirm: t("admin.sg.list.delete_confirm")}%></td>
                        </tr>
                    <%end%>
                </tbody>
            </table>
        <%else%>
            <%=t("admin.sg.list.no_data")%>
        <%end%>                       
    </div>
</div>