<h2><%= t("admin.complan_editors.index.title") %></h2>
<%= render "shared/profiles_filter_subnav", i18n_namespace: "admin.users" %>
<%= render "admin/shared/user_search", url: search_admin_complan_editors_path %>

<div id="complan_editors">
  <% if @complan_editors.any? %>
    <h3 class="margin"><%= page_entries_info @complan_editors %></h3>

    <table>
      <thead>
        <th scope="col" class="text-center"><%= t("admin.complan_editors.index.id") %></th>
        <th scope="col"><%= t("admin.complan_editors.index.name") %></th>
        <th scope="col"><%= t("admin.complan_editors.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <% @complan_editors.each do |complan_readers| %>
        <tr id="<%= dom_id(complan_readers)%>">
          <td class="text-center">
            <%= complan_readers.try(:id)%>
          </td>
          <td>
            <%= complan_readers.try(:name) %>
          </td>
          <td>
            <%= complan_readers.try(:email) %>
          </td>
          <td>
            <% if complan_readers.try(:persisted?) %>
              <%= link_to t("admin.complan_editors.complan_readers.delete"),
                          admin_complan_readers_path(complan_readers),
                          method: :delete,
                          class: "button hollow alert expanded"
              %>
            <% else %>
              <%= link_to t("admin.complan_editors.complan_readers.add"),
                          { controller: "admin/complan_editors", action: :create,
                            user_id: complan_readers.user_id },
                            method: :post,
                            class: "button success expanded" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <%= paginate @complan_editors %>
  <% else %>
    <div class="callout primary margin">
      <%= t("admin.complan_editors.index.no_complan_editors") %>
    </div>
  <% end %>
</div>
