<%= render partial: "admin/parbudget/tabs"%>
<%= render partial: "admin/parbudget/buttons", locals: {path: new_admin_parbudget_topic_path, button_title: t("admin.menu.parbudget_tabs.new_topics")}%>
<%= render partial: "filters"%>

<% if @topics.any? %>
  <h3><%= page_entries_info @topics %></h3>

  <table class="stack">
    <thead>
      <tr>
        <%@model.get_columns.each do |c|%>
          <th><%= @model.human_attribute_name(c) %></th>
        <%end%>
        <th><%= t("admin.actions.actions") %></th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <tr id="<%= dom_id(topic) %>">
          <%@model.get_columns.each do |c|%>
            <td><%=topic.try(c)%></td>
          <%end%>
          <td>
            <%= link_to t("admin.legislation.processes.index.delete"), admin_legislation_process_path(process),
                        method: :delete,
                        class: "button hollow alert expanded" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @topics %>
<% else %>
  <div class="callout primary"><%= page_entries_info @topics %></div>
<% end %>