<%if @listados.blank?%>
    <div class="row">
        <div class="small-12 columns">
            <%=t('sgs.no_element_list')%>
        </div>
    </div>
<%else%>
    <% @listados.each do |l| %>
        <% if !l[:list].blank? && l[:list].count >0%>
            <div class="row">
                <div class="small-12 columns">
                    <h3><%=l[:model].model_name.human%>:</h3>
                    <%= page_entries_info l[:list] %>
                    <% l[:list].each_with_index do |item, index|%>
                        <%if l[:model].model_name.to_s == "Debate"%>
                            <%=render partial: "debates/debate", debate: item%>
                        <%elsif l[:model].model_name.to_s == "Proposal"%>
                            <%=render partial: "proposals/proposal", proposal: item%>
                        <%elsif l[:model].model_name.to_s == "Legislation::Process"%>
                            <%=render partial: "legislation/processes/process", process: item%>
                        <%elsif l[:model].model_name.to_s == "Legislation::Proposal"%>                        
                            <%=render partial: "legislation/proposals/votes", proposal: item%>
                        <%else%>
                            <div id="<%= dom_id(item) %>" class="actuation clear" data-type="actuation">
                                <div class="panel">
                                    <div class="icon-successful"></div>
                                    <div class="icon-human-rights"></div>
                                    <div class="row">
                                        <div class="actuation-content">
                                            <h3><%= link_to l[:model].model_name.human + " #{index + 1}", sures_path %></h3>
                                            <div class="actuation-description">
                                            <p><%=item.try(:created_at)%><%#= markdown(actuation.proposal_objective).html_safe %></p>
                                          
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    <%end%>
                    <%= paginate l[:list], remote: true, param_name: :"page_#{l[:model].model_name.to_s.parameterize.underscore}" %> 
                </div>
            </div>
        <%end%>
    <%end%>
<%end%>