<div class="card nested-fields js_snippet-module" id="<%= module_id(f.object) %>">
  <div class="card-divider">
    <span class="icon-bars"><span class="icon-arrow-down"></span></span><h5 class="small-6 column menu-item-tag"><%= t("admin.custom_pages.custom_page_modules.custom_page_module.js_snippet") %></h5>
    <div class="small-6 column text-right">
      <%= link_to_remove_association f do %>
        <span class="icon-x delete"></span>
      <% end %>
    </div>
  </div>
  <div class="card-section">
    <div class="small-12 medium-10 column">
      <%= f.text_area :js_snippet,
                        id: "js_snippet_area_#{f.object.id}",
                        label: t("admin.custom_pages.custom_page_modules.custom_page_module.js_snippet"),
                        rows: 10,
                        maxlength: JSSnippetModule::TEXT_MAX_LENGTH  %>
    </div>
    <div class="check-options">
      <div class="small-12 medium-2 column">
        <%= f.check_box :disabled, label: false, class: 'custom_page_module-disabled' %>
        <%= f.label :disabled, t("admin.custom_pages.custom_page_modules.disabled") %>
      </div>
    </div>
  </div>
</div>