<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.custom_pages") %>
<% end %>

<%= link_to t("admin.custom_pages.index.create"),
              new_admin_custom_page_path, class: "button float-right" %>

<h2 class="inline-block"><%= t("admin.menu.custom_pages") %></h2>

<%= render "shared/filter_subnav", i18n_namespace: "admin.custom_pages.index" %>

<h3><%= page_entries_info @custom_pages %></h3>
  <table>
    <thead>
      <tr>
        <th scope="col"><%= t("admin.custom_pages.index.title")%></th>
        <th scope="col"><%= t("admin.custom_pages.index.slug")%></th>
        <th scope="col"><%= t("admin.custom_pages.index.published")%></th>
        <th scope="col"><%= t("admin.custom_pages.index.updated_at")%></th>
        <th scope="col" class="small-4"><%= t("admin.actions.actions")%></th>
      </tr>
    </thead>
    <tbody>
      <% @custom_pages.sorted.each do |custom_page| %>
        <tr id="<%= dom_id(custom_page) %>">
          <td><%= custom_page.try(:title) %></td>
          <td><%= custom_page.try(:slug) %></td>
          <td><%= retrieve_options_key(publish_options, custom_page.try(:published)) %></td>
          <td><%= custom_page.try(:updated_at).strftime("%Y-%m-%d %H:%M") %></td>
          <td>
            <div class="small-12 medium-4 column">
              <%= link_to t("admin.custom_pages.index.edit"), edit_admin_custom_page_path(custom_page),
                          class: "button hollow expanded" %>
            </div>
            <div class="small-12 medium-4 column">
              <%= link_to t("admin.custom_pages.index.delete"), admin_custom_page_path(custom_page),
                          method: :delete,
                          data: {confirm: t("admin.menus.destroy.alert_notice")},
                          class: "button hollow alert expanded" %>
            </div>
            <div class="small-12 medium-4 column">
              <%= link_to t("admin.custom_pages.index.preview"), custom_page_path(custom_page.slug),
                          target: '_blank',
                          class: "button hollow warning expanded" %>
            </div>
          </td>
        </tr>
      <% end%>
    </tbody>
  </table>

<%= paginate @custom_pages %>