<fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
    <legend><%=t("admin.complan.performance.title_data")%></legend>
 
    <div class="small-12 medium-3  column end"  >
        <%= f.text_field :type_performance %>
    </div>
    <div class="small-12 medium-9  column end"  >
        <%= f.text_field :description%>
    </div>
    <div class="small-12 medium-4  column end"  >
        <%= f.text_field :complan_project%>
    </div>
    <div class="small-12 medium-4  column end"  >
        <%= f.text_field :complan_financing%>
    </div>
    <div class="small-12 medium-4  column end"  >
        <%= f.text_field :status%>
    </div>
    <div class="small-12 medium-12  column end"  >
        <%= f.text_field :comments%>
    </div>
    <div class="small-12 medium-3  column end"  >
        <%= f.text_field :start_date%>
    </div>
    <div class="small-12 medium-3  column end"  >
        <%= f.text_field :end_date%>
    </div>
     <div class="small-12 medium-3  column end"  >
        <%= f.text_field :annuity%>
    </div>
     <div class="small-12 medium-3  column end"  >
        <%= f.text_field :valued%>
    </div>
     <div class="small-12 medium-3  column end"  >
        <%= f.text_field :vulnerability_index%>
    </div>
     <div class="small-12 medium-3  column end"  >
        <%= f.text_field :edition%>
    </div>
     <div class="small-12 medium-3  column end"  >
        <%= f.text_field :multi_year%>
    </div>   
 </fieldset>