<%= render partial: "admin/complan/tabs"%>
<%= render partial: "admin/complan/buttons", locals: {path: new_admin_complan_performance_path, button_title: t("admin.menu.complan_tabs.new_performances")}%>
<%= render partial: "admin/complan/subnav"%>
<%#= render partial: "filters"%>

<div class="small-12 column">
  <%
=begin%>
 <% if @centers.any? %>
    <h3><%= page_entries_info @centers %></h3>

    <table class="stack sortable">
      <thead>
        <tr>
          <%@model.get_columns.each do |c|%>
            <th><%= link_to_complan_sorted_by c, @model.human_attribute_name(c) %></th>
          <%end%>
          <th style="width: 18em;"><%= t("admin.actions.actions") %></th>
        </tr>
      </thead>

      <tbody>
        <% @centers.each do |center| %>
            <tr id="<%= dom_id(center) %>">
              <%@model.get_columns.each do |c|%>
                <td><%=center.try(c)%></td>
              <%end%>
              <td style="width: 18em;">
                <%= link_to admin_complan_centers_path, class: "button hollow", title: t('admin.complan.show_audits'), alt: t('admin.complan.show_audits')  do %>
                  <span class="icon-settings"></span>
                <%end%>
                <%= link_to admin_complan_center_path(center, format: :pdf), class: "button", style: "margin: 0px", title: t('admin.complan.center.pdf_download'), alt: t('admin.complan.center.pdf_download')  do %>
                  <span class="icon-document"></span>
                <%end%>
                <%= link_to admin_complan_center_path(center), class: "button", style: "margin: 0px", title: t('admin.complan.center.show_center'), alt: t('admin.complan.center.show_center')  do %>
                  <span class="icon-eye"></span>
                <%end%>
                <%= link_to edit_admin_complan_center_path(center), class: "button", style: "margin: 0px", title: t('admin.complan.center.update_center'), alt: t('admin.complan.center.update_center')  do %>
                  <span class="icon-edit"></span>
                <%end%>
                <%= link_to  admin_complan_center_path(center),method: :delete, class: "button hollow alert", style: "margin: 0px", title: t('admin.complan.center.title_delete'), alt: t('admin.complan.center.title_delete'), data: {confirm: t('admin.complan.center.destroy_confirm')}  do %>
                  <span class="icon-deleted"></span>
                <%end%>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @centers %>
  <% else %>
    <div class="callout primary"><%= page_entries_info @centers %></div>
  <% end %> 
<%
=end%>
</div>