<h2><%= t("admin.parbudget_editors.index.title") %></h2>
<%#= render "shared/profiles_filter_subnav", i18n_namespace: "admin.users" %>

<div id="parbudget_editors">
  <% if @parbudget_editors.any? %>
    <h3 class="margin"><%= page_entries_info @parbudget_editors %></h3>

    <table>
      <thead>
        <th scope="col" class="text-center"><%= t("admin.parbudget_editors.index.id") %></th>
        <th scope="col"><%= t("admin.parbudget_editors.index.name") %></th>
        <th scope="col"><%= t("admin.parbudget_editors.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <% @parbudget_editors.each do |parbudget_editor| %>
        <tr id="<%= dom_id(parbudget_editor)%>">
          <td class="text-center">
            <%= parbudget_editor.try(:id)%>
          </td>
          <td>
            <%= parbudget_editor.try(:name) %>
          </td>
          <td>
            <%= parbudget_editor.try(:email) %>
          </td>
          <td>
            <% if parbudget_editor.try(:persisted?) %>
              <%= link_to t("admin.parbudget_editors.parbudget_editor.delete"),
                          admin_parbudget_editor_path(parbudget_editor),
                          method: :delete,
                          class: "button hollow alert expanded"
              %>
            <% else %>
              <%= link_to t("admin.parbudget_editors.administrator.add"),
                          { controller: "admin/parbudget_editors", action: :create,
                            user_id: parbudget_editor.user_id },
                            method: :post,
                            class: "button success expanded" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <%= paginate @parbudget_editors %>
  <% else %>
    <div class="callout primary margin">
      <%= t("admin.parbudget_editors.index.no_parbudget_editors") %>
    </div>
  <% end %>
</div>
