<h2><%= t("admin.conplan_readers.index.title") %></h2>
<%= render "shared/profiles_filter_subnav", i18n_namespace: "admin.users" %>
<%= render "admin/shared/user_search", url: search_admin_conplan_readers_path %>

<div id="conplan_readers">
  <% if @conplan_readers.any? %>
    <h3 class="margin"><%= page_entries_info @conplan_readers %></h3>

    <table>
      <thead>
        <th scope="col" class="text-center"><%= t("admin.conplan_readers.index.id") %></th>
        <th scope="col"><%= t("admin.conplan_readers.index.name") %></th>
        <th scope="col"><%= t("admin.conplan_readers.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <% @conplan_readers.each do |conplan_reader| %>
        <tr id="<%= dom_id(conplan_reader)%>">
          <td class="text-center">
            <%= conplan_reader.try(:id)%>
          </td>
          <td>
            <%= conplan_reader.try(:name) %>
          </td>
          <td>
            <%= conplan_reader.try(:email) %>
          </td>
          <td>
            <% if conplan_reader.try(:persisted?) %>
              <%= link_to t("admin.conplan_readers.conplan_reader.delete"),
                          admin_conplan_reader_path(conplan_reader),
                          method: :delete,
                          class: "button hollow alert expanded"
              %>
            <% else %>
              <%= link_to t("admin.conplan_readers.conplan_reader.add"),
                          { controller: "admin/conplan_readers", action: :create,
                            user_id: conplan_reader.user_id },
                            method: :post,
                            class: "button success expanded" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <%= paginate @conplan_readers %>
  <% else %>
    <div class="callout primary margin">
      <%= t("admin.conplan_readers.index.no_conplan_readers") %>
    </div>
  <% end %>
</div>
