<fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
    <legend><%=t("admin.complan.center.title_data")%></legend>
 
    <div class="small-12 medium-6  column end"  >
        <%= f.text_field :denomination %>
    </div>
    <div class="small-12 medium-6  column end"  >
        <%= f.text_field :organism%>
    </div>
    <div class="small-12 medium-6  column end"  >
        <%= f.text_field :address%>
    </div>
    <div class="small-12 medium-3  column end"  >
        <%= f.check_box :dg%>
    </div>
    <div class="small-12 medium-3  column end"  >
        <%= f.check_box :sg%>
    </div>
 </fieldset>