<%=form_tag({controller: "centers",action: "index"}, {method: :get}) do %>
    <div class="small-12 column">
        <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
            <legend><%=t("admin.menu.complan_tabs.legend_filter")%></legend>
            <div class="small-12 medium-4 column">
                <%=label_tag :search_organism, t('admin.complan.center.search_organism')%>
                <%= text_field_tag :search_organism, params[:search_organism] %>
            </div>                
            <div class="small-12 medium-4 column end">
                <%=label_tag :search_denomination, t('admin.complan.center.search_denomination')%>
                <%= text_field_tag :search_denomination, params[:search_denomination] %>
            </div> 
                <div class="small-12 medium-4 column end">
                <%=label_tag :search_address, t('admin.complan.center.search_address')%>
                <%= text_field_tag :search_address, params[:search_address] %>
            </div>
            <div class="small-12 medium-3 column end">
                <%=label_tag :search_dg, t('admin.complan.center.search_dg')%>
                <%= check_box_tag :search_dg, params[:search_dg] %>
            </div> 
            <div class="small-12 medium-3 column end">
                <%=label_tag :search_sg, t('admin.complan.center.search_sg')%>
                <%= check_box_tag :search_sg, params[:search_sg] %>
            </div> 
            <div class="float-right clear">
                <%= link_to t("admin.menu.complan_tabs.button_clean"), admin_complan_centers_path, class: "button secondary" %>
                <%= submit_tag t("admin.menu.complan_tabs.button_find"), class: "button" %>
            </div>
        </fieldset>
    </div>
<% end%>