  <% if @projects.any? %>
    <h3><%= page_entries_info @projects %></h3>

    <table class="stack sortable">
      <thead>
        <tr>
          <%@model.get_columns.each do |c|%>
            <th><%=link_to_complan_sorted_by c, @model.human_attribute_name(c) %></th>
          <%end%>
          <th style="width: 12em"><%= t("admin.actions.actions") %></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <%= form_for project, :url => update_project_admin_complan_project_path(project), method: :post do |f| %>
            <tr id="<%= dom_id(project) %>">
              <% if !params[:errors].blank? && project.id.to_i == params[:id].to_i %>
                <div id="error_explanation" data-alert class="callout alert" data-closable>
                  <button class="close-button" aria-label="<%= t("application.close") %>" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>
                      <% params[:errors].each do |error| %>
                        <%=error%><br>
                      <%end%>
                  </strong>
                </div>
              <% end %>
              <%@model.get_columns.each do |c|%>
                <%if c.to_s != "complan_strategy_id"%>
                  <td><%= f.text_field c, label: false, placeholder:  "#{@model.human_attribute_name(c)}..."  %></td>
                <%else%>
                  <td><%= f.select c, options_for_select(@strategies || [], project[c]), include_blank: true, label: false, placeholder:  "#{@model.human_attribute_name(c)}..."  %></td>
                <%end%>
              <%end%>
              <td style="width: 12em">
                <%= link_to admin_complan_projects_path, class: "button hollow", style: "margin: 0px", title: t('admin.complan.show_audits'), alt: t('admin.complan.show_audits')  do %>
                  <span class="icon-settings"></span>
                <%end%>
                <%= f.button :submit, class: "button", title: t('admin.complan.project.update_project'), alt: t('admin.complan.project.update_project'), style: "margin: 0px"  do %>
                  <span class="icon-edit"></span>
                <%end%>
                <%= link_to  admin_complan_project_path(project),method: :delete, class: "button hollow alert", style: "margin: 0px", title:  t('admin.complan.project.title_delete'), alt:  t('admin.complan.project.title_delete'), data: {confirm: t('admin.complan.project.destroy_confirm')}  do %>
                  <span class="icon-deleted"></span>
                <%end%>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @projects %>
  <% else %>
    <div class="callout primary"><%= page_entries_info @projects %></div>
  <% end %>