<%= form_tag({controller: "projects",action: "index"}, {method: :get}) do %>
    <div class="small-12 column">
        <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
            <legend><%=t("admin.menu.complan_tabs.legend_filter")%></legend>
            <div class="small-12 medium-6 column">
                <%=label_tag :search_description, t('admin.complan.project.search_description')%>
                <%= text_field_tag :search_description, params[:search_description] %>
            </div> 
             <div class="small-12 medium-3 column">
                <%=label_tag :search_name, t('admin.complan.project.search_name')%>
                <%= text_field_tag :search_name, params[:search_name] %>
            </div> 
            <div class="small-12 medium-3 column">
                <%=label_tag :search_strategy, t('admin.complan.project.search_strategy')%>
                <%= select_tag :search_strategy, options_for_select(@strategies || [],  params[:search_strategy]), include_blank: true %>
            </div> 
            <div class="float-right clear">
                <%= link_to t("admin.menu.complan_tabs.button_clean"), admin_complan_projects_path, class: "button secondary" %>
                <%= submit_tag t("admin.menu.complan_tabs.button_find"), class: "button" %>
            </div>
        </fieldset>
    </div>
<% end%>
