<h2><%= t("admin.conplan_editors.index.title") %></h2>
<%= render "shared/profiles_filter_subnav", i18n_namespace: "admin.users" %>
<%= render "admin/shared/user_search", url: search_admin_conplan_editors_path %>

<div id="conplan_editors">
  <% if @conplan_editors.any? %>
    <h3 class="margin"><%= page_entries_info @conplan_editors %></h3>

    <table>
      <thead>
        <th scope="col" class="text-center"><%= t("admin.conplan_editors.index.id") %></th>
        <th scope="col"><%= t("admin.conplan_editors.index.name") %></th>
        <th scope="col"><%= t("admin.conplan_editors.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <% @conplan_editors.each do |conplan_readers| %>
        <tr id="<%= dom_id(conplan_readers)%>">
          <td class="text-center">
            <%= conplan_readers.try(:id)%>
          </td>
          <td>
            <%= conplan_readers.try(:name) %>
          </td>
          <td>
            <%= conplan_readers.try(:email) %>
          </td>
          <td>
            <% if conplan_readers.try(:persisted?) %>
              <%= link_to t("admin.conplan_editors.conplan_readers.delete"),
                          admin_conplan_readers_path(conplan_readers),
                          method: :delete,
                          class: "button hollow alert expanded"
              %>
            <% else %>
              <%= link_to t("admin.conplan_editors.conplan_readers.add"),
                          { controller: "admin/conplan_editors", action: :create,
                            user_id: conplan_readers.user_id },
                            method: :post,
                            class: "button success expanded" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <%= paginate @conplan_editors %>
  <% else %>
    <div class="callout primary margin">
      <%= t("admin.conplan_editors.index.no_conplan_editors") %>
    </div>
  <% end %>
</div>
