<%=form_tag do %>
    <div class="small-12 column">
        <fieldset style="border: 1px solid grey;margin: 1em 0;padding: 1em;">
            <legend><%=t("admin.menu.parbudget_tabs.legend_filter")%></legend>
            <div class="row">
                <div class="small-12 medium-2 column">
                    <%=label_tag :search_center_code, t('admin.parbudget.center.search_center_code')%>
                    <%= text_field_tag :search_center_code, params[:search_center_code] %>
                </div>  
                <div class="small-12 medium-2 column">
                    <%=label_tag :search_section_code, t('admin.parbudget.center.search_section_code')%>
                    <%= text_field_tag :search_section_code,  params[:search_section_code] %>
                </div>               
                <div class="small-12 medium-2 column end">
                    <%=label_tag :search_program_code, t('admin.parbudget.center.search_program_code')%>
                    <%= text_field_tag :search_program_code, params[:search_program_code] %>
                </div>  
                <div class="small-12 medium-6 column end">
                    <%=label_tag :search_denomination, t('admin.parbudget.center.search_denomination')%>
                    <%= text_field_tag :search_denomination, params[:search_denomination]  %>
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-4 column">
                    <%=label_tag :search_responsible, t('admin.parbudget.center.search_responsible')%>
                    <%= select_tag :search_responsible, options_for_select(@responsibles.collect{ |u| [u.full_name, u.id] } || [], params[:search_responsible]), include_blank: true %>
                </div>  
                <div class="small-12 medium-4 column end">
                    <%=label_tag :search_project, t('admin.parbudget.center.search_project')%>
                    <%= select_tag :search_project, options_for_select(@projects.collect{ |u| [u.denomination, u.id] } || [],  params[:search_project]), include_blank: true %>
                </div>
            </div>
            <div class="float-right">
                <%= link_to t("admin.menu.parbudget_tabs.button_clean"), admin_parbudget_centers_path, class: "button secondary" %>
                <%= submit_tag t("admin.menu.parbudget_tabs.button_find"), class: "button" %>
            </div>
        </fieldset>
    </div>
<% end%>