<%= link_to t("admin.menus.index.create"),
              new_admin_menu_path, class: "button float-right" %>

<h2 class="inline-block"><%= t("admin.menus.index.title") %></h2>

<%= render "shared/filter_subnav", i18n_namespace: "admin.menus.index" %>

<h3><%= page_entries_info @menus %></h3>

<% @menus.each do |menu| %>
  <table>
    <thead>
      <tr id="<%= dom_id(menu) %>">
        <th scope="col"><%= t("admin.menus.menu.title")%></th>
        <th scope="col"><%= t("admin.menus.menu.section")%></th>
        <th scope="col"><%= t("admin.menus.menu.enabled")%></th>
        <th scope="col"><%= t("admin.menus.menu.created_at")%></th>
        <th scope="col" class="small-4"><%= t("admin.actions.actions")%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= menu.try(:title) %></td>
        <td><%= menu.try(:section) %></td>
        <td><%= menu.try(:enabled) %></td>
        <td><%= menu.try(:created_at).strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td>
          <div class="small-12 medium-6 column">
            <%= link_to t("admin.menus.index.edit"), edit_admin_menu_path(menu),
                        class: "button hollow expanded" %>
          </div>
          <div class="small-12 medium-6 column">
            <%= link_to t("admin.menus.index.delete"), admin_menu_path(menu),
                        method: :delete,
                        class: "button hollow alert expanded" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end%>

<%= paginate @menus %>