<%= link_to valuation_budget_budget_investment_path(@budget, @investment), class: "back" do %>
  <span class="icon-angle-left"></span>
  <%= "#{t("valuation.budget_investments.show.title")} #{@investment.id}" %>
<% end %>

<h2><%= t("valuation.budget_investments.edit.dossier") %></h2>
<% if can?(:valuate, @investment) && can?(:edit_dossier, @investment) %>
  <%= render partial: "/valuation/budget_investments/dossier_form", locals: {investment: @investment} %>
<% else %>
  <p>
    <h3><%= t("valuation.budget_investments.edit.valuation_finished") %></h3>
  </p>
  <p>
    <strong><%= t("valuation.budget_investments.edit.feasibility") %>:</strong>
    <%= t("admin.budget_investments.index.feasibility.#{@investment.feasibility}") %>
  </p>
  <p>
    <strong><%= t("valuation.budget_investments.edit.feasible_explanation_html") %>:</strong>
    <%= @investment.unfeasibility_explanation.presence || "-" %>
  </p>
  <p>
    <strong><%= t("valuation.budget_investments.edit.price_html", currency: @budget.currency_symbol) %>:</strong>
    <%= @investment.price.presence || "-" %>
  </p>
  <p>
    <strong><%= t("valuation.budget_investments.show.price_first_year", currency: @budget.currency_symbol) %>:</strong>
    <%= @investment.price_first_year.presence || "-" %>
  </p>
  <p>
    <strong><%= t("valuation.budget_investments.edit.price_explanation_html") %>:</strong>
    <%= @investment.price_explanation.presence || "-"%>
  </p>
  <p>
    <strong><%= t("valuation.budget_investments.edit.duration_html") %>:</strong>
    <%= @investment.duration.presence || "-" %>
  </p>
<% end %>

<%= render "valuation/budget_investments/valuation_comments" %>

<h1><%= @investment.title %></h1>

<%= safe_html_with_links @investment.description %>

<h2><%= t("valuation.budget_investments.show.info") %></h2>

<p><strong><%= t("valuation.budget_investments.show.by") %>:</strong>
  <%= link_to @investment.author.name, user_path(@investment.author) %>
</p>

<p><strong><%= t("valuation.budget_investments.show.heading") %>:</strong>
  <%= @investment.heading.name %>
</p>

<p><strong><%= t("valuation.budget_investments.show.sent") %>:</strong>
  <%= l @investment.created_at, format: :datetime %>
</p>

<h2><%= t("valuation.budget_investments.show.responsibles") %></h2>

<p><strong><%= t("valuation.budget_investments.show.assigned_admin") %>:</strong>
  <% if @investment.administrator.present? %>
    <%= @investment.administrator.name %> (<%= @investment.administrator.email %>)
  <% else %>
    <%= t("valuation.budget_investments.show.undefined") %>
  <% end %>
</p>

<p><strong><%= t("valuation.budget_investments.show.assigned_valuators") %>:</strong></p>
<div id="assigned_valuators">
  <ul>
    <% @investment.valuators.each do |valuator| %>
      <li><%= valuator.name %> (<%= valuator.email %>)</li>
    <% end %>

    <% if @investment.valuators.empty? %>
      <li><%= t("valuation.budget_investments.show.undefined") %></li>
    <% end %>
  </ul>
</div>
