<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <%= wicked_pdf_stylesheet_link_tag  'foundation' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    <% provide :title, t("meta_tags.sures.title") %>
    <% provide :meta_description, t("meta_tags.sures.description") %>
    <% provide :meta_keywords, t("meta_tags.sures.keywords") %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= setting["html.per_page_code_head"].try(:html_safe) %>
    <style>
table, th, td {
  border: 0px;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}
</style>
 <body class="auth-page landing-budgets">
    <%= yield %>
  </body>
</html>
